In [2]:
import os
import sys

import sys
sys.path.insert(0,'/Users/a17194839/Library/Python/3.7/lib/python/site-packages')
sys.path.insert(1,'/Users/a17194839/Desktop/LMS/work/notebooks/tools/')

# import pystan 
import pandas as pd
import numpy as np
import requests
import datetime as dt

### sample_1000

In [3]:
sample_1000 = pd.read_csv('./csv/sample_1000.csv')
sample_1000.head()

,sku_id,fincode,ui1_code,ui2_code,ui3_code,vendor,brand_code,creation_date,expiration_date
0,16663,Z8,Z81,Z8100,Z810000,FI3ASO,THSTSG81,2018-06-26,2019-04-21 00:00:00
1,91775,Q5,Q51,Q5100,Q510008,4O4WSH,WKXRWTP7,2019-07-07,2200-01-01 00:00:00
2,24641,ZR,ZR1,ZR100,ZR10000,71SM2O,J8XKU94W,2019-05-22,2200-01-01 00:00:00
3,84184,UA,UA1,UA102,UA10205,FI3ASO,5IEJMU4O,2018-04-19,2019-06-19 00:00:00
4,21070,XG,XG1,XG100,XG10000,4O4WSH,4WL34OA2,2019-06-27,2200-01-01 00:00:00

In [3]:
len(sample_1000.brand_code.unique())

62

In [4]:
sample_1000.dtypes

sku_id              int64
fincode            object
ui1_code           object
ui2_code           object
ui3_code           object
vendor             object
brand_code         object
creation_date      object
expiration_date    object
dtype: object

#### Define categorical features fro catBoostEncoder

In [4]:
cat_features = ["fincode", "ui1_code", "ui2_code", "ui3_code", "vendor", "brand_code"]

In [5]:
sample_1000.rename(columns = {"sku_id":"SKU"}, inplace = True)

In [6]:
len(sample_1000.SKU.unique())

1000

#### Promo

In [6]:
promo = pd.read_csv('./csv/promo_df.csv')
promo.head()

     SKU  week_num  year  discount
0  74430         1  2018      0.15
1  69978         1  2018      0.05
2  81955         1  2018      0.15
3  78953         1  2018      0.10
4  43034         1  2018      0.05

In [8]:
promo.tail()

        SKU  week_num  year  discount
2337  35645        52  2019      0.15
2338  81314        52  2019      0.05
2339  75661        52  2019      0.05
2340  38664        52  2019      0.05
2341  47952        52  2019      0.10

In [9]:
promo.year.max(), promo.year.min()

(2019, 2018)

#### Price of concurents

In [7]:
canc_df = pd.read_csv('./csv/canc_df.csv')
canc_df.head()

   year  week_num    SKU  ret_net_1_price  ret_net_2_price  ret_net_3_price
0  2019         1  10121      2945.681342      2965.743797      2917.394830
1  2019         1  10290       949.466060       942.301292       962.799009
2  2019         1  10973      3751.515022      3735.814981      3709.586540
3  2019         1  11179      3717.042306      3638.799082      3695.090121
4  2019         1  11680      1378.797669      1325.251312      1363.707489

In [12]:
canc_df.tail()

,year,week_num,SKU,ret_net_1_price,ret_net_2_price,ret_net_3_price
10319,2019,52,97659,3409.219608,3394.456244,3434.336572
10320,2019,52,98346,1632.598644,1710.327024,1638.673052
10321,2019,52,98642,1498.441016,1520.235649,1481.583880
10322,2019,52,98774,1649.812737,1638.274072,1725.167364
10323,2019,52,99974,3369.132504,3343.880679,3370.393064

In [13]:
canc_df.year.max(), canc_df.year.min()

(2019, 2019)

In [14]:
canc_df.week_num.max(), canc_df.week_num.min()

(52, 1)

#### Bonus pack

In [8]:
sales_plan = pd.read_csv('./csv/sales_plan.csv')
sales_plan.head()

     SKU  year  month  plan  back_bonus
0  10290  2018      2  20.0      120000
1  10290  2018      3  60.0      140000
2  10290  2018      4  70.0      140000
3  10290  2018      5  60.0      140000
4  10290  2018      6  60.0       40000

In [16]:
sales_plan.year.max(), sales_plan.year.min()

(2019, 2018)

#### Cost price

In [9]:
wholesale_trade_table = pd.read_csv('./csv/wholesale_trade_table.csv')
wholesale_trade_table.head()

     SKU  year  week_num  month  cost_price
0  10060  2019         1     12      2211.0
1  10060  2019        15      4      2454.0
2  10060  2019        16      4      2432.0
3  10060  2019        17      4      2449.0
4  10060  2019        18      4      2280.0

In [18]:
wholesale_trade_table.year.max(), wholesale_trade_table.year.min()

(2019, 2018)

In [19]:
wholesale_trade_table.dtypes

SKU             int64
year            int64
week_num        int64
month           int64
cost_price    float64
dtype: object

In [10]:
def get_data_features(df, col, day_realiaze = False): 
    df[col] = pd.to_datetime(df[col])
    df['year'] = df[col].dt.isocalendar().year.astype("int64")
    df['month'] = df[col].dt.month.astype("int64")
    df['week_num'] = df[col].dt.isocalendar().week.astype('int64')   
    
    if day_realiaze: 
        df['day'] = df[col].dt.day.astype('int64')
        
    df[col] = df[col].astype('str')
    return df

In [25]:
#create for merging all datasets

In [11]:
all_dates = pd.date_range(start='2018-01-01', end='2019-12-31')
all_dates_df = pd.DataFrame({'dates': all_dates})
all_dates_df = get_data_features(all_dates_df, 'dates')
all_dates_df.drop(columns=['dates'], inplace=True)
all_dates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      730 non-null    int64
 1   month     730 non-null    int64
 2   week_num  730 non-null    int64
dtypes: int64(3)
memory usage: 17.2 KB

In [12]:
canc_df_all = canc_df.merge(all_dates_df , on = ["year", "week_num"], how = 'outer') 
canc_df_all.dropna(subset = ["SKU"], inplace = True)
canc_df_all["SKU"] = canc_df_all["SKU"].astype("int64")
canc_df_all.fillna(-99, inplace = True)

In [14]:
canc_df_all.head()

,year,week_num,SKU,ret_net_1_price,ret_net_2_price,ret_net_3_price,month
0,2019,1,10121,2945.681342,2965.743797,2917.39483,12
1,2019,1,10121,2945.681342,2965.743797,2917.39483,1
2,2019,1,10121,2945.681342,2965.743797,2917.39483,1
3,2019,1,10121,2945.681342,2965.743797,2917.39483,1
4,2019,1,10121,2945.681342,2965.743797,2917.39483,1

In [13]:
canc_df_all_w_promo = promo.merge(canc_df_all , on = ["year", "week_num", "SKU"], how = 'outer')
canc_df_all_w_promo.dropna(subset = ["SKU"], inplace = True)
canc_df_all_w_promo["SKU"] = canc_df_all_w_promo["SKU"].astype("int64")
canc_df_all_w_promo.fillna(-99, inplace = True)
canc_df_all_w_promo["month"] = canc_df_all_w_promo["month"].astype("int64")
canc_df_all_w_promo["year"] = canc_df_all_w_promo["year"].astype("int64")
#canc_df_all_w_promo["day"] = canc_df_all_w_promo["day"].astype("int64")

In [16]:
canc_df_all_w_promo.head()

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month
0,74430,1,2018,0.15,-99.0,-99.0,-99.0,-99
1,69978,1,2018,0.05,-99.0,-99.0,-99.0,-99
2,81955,1,2018,0.15,-99.0,-99.0,-99.0,-99
3,78953,1,2018,0.10,-99.0,-99.0,-99.0,-99
4,43034,1,2018,0.05,-99.0,-99.0,-99.0,-99

In [14]:
canc_df_all_w_promo_w_sales = canc_df_all_w_promo.merge(sales_plan, on = ["year", "month", "SKU"], how = 'outer')
canc_df_all_w_promo.dropna(subset = ["SKU"], inplace = True)
canc_df_all_w_promo_w_sales["SKU"] = canc_df_all_w_promo_w_sales["SKU"].astype("int64")
canc_df_all_w_promo_w_sales.fillna(-99, inplace = True)
canc_df_all_w_promo_w_sales["week_num"] = canc_df_all_w_promo_w_sales["week_num"].astype("int64")
canc_df_all_w_promo_w_sales["month"] = canc_df_all_w_promo_w_sales["month"].astype("int64")
canc_df_all_w_promo_w_sales["year"] = canc_df_all_w_promo_w_sales["year"].astype("int64")
#canc_df_all_w_promo_w_sales["day"] = canc_df_all_w_promo_w_sales["day"].astype("int64")

In [18]:
canc_df_all_w_promo_w_sales.sample(10)

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus
33791,81944,20,2019,-99.0,505.892790,506.960357,513.541999,5,100.0,180000.0
55294,29946,36,2019,-99.0,1611.492145,1571.528608,1580.308574,9,210.0,180000.0
1200,81955,52,2019,0.2,-99.000000,-99.000000,-99.000000,-99,-99.0,-99.0
51605,74805,34,2019,-99.0,4042.390804,3947.755944,4055.835945,8,160.0,160000.0
55348,31344,36,2019,-99.0,4346.516865,4379.232895,4388.186688,9,210.0,160000.0
5784,23806,4,2019,-99.0,397.740293,402.752431,395.463546,1,50.0,200000.0
14059,89833,49,2019,-99.0,2125.745882,2126.659367,2114.886624,12,170.0,60000.0
17089,49321,6,2019,-99.0,1692.734142,1669.335504,1660.951155,2,120.0,200000.0
25911,32801,18,2019,-99.0,899.331507,907.077061,899.431362,4,100.0,80000.0
50625,60289,31,2019,-99.0,1365.994679,1382.905179,1363.546588,8,150.0,200000.0

In [15]:
canc_df_all_w_promo_w_sales_w_cost = canc_df_all_w_promo_w_sales.merge(wholesale_trade_table,  on = ["year", "month", "week_num", "SKU"], how = 'outer')

In [16]:
canc_df_all_w_promo_w_sales_w_cost.fillna(-99, inplace = True)
canc_df_all_w_promo_w_sales_w_cost["week_num"] = canc_df_all_w_promo_w_sales_w_cost["week_num"].astype("int64")
canc_df_all_w_promo_w_sales_w_cost["month"] = canc_df_all_w_promo_w_sales_w_cost["month"].astype("int64")
canc_df_all_w_promo_w_sales_w_cost["year"] = canc_df_all_w_promo_w_sales_w_cost["year"].astype("int64")
#canc_df_all_w_promo_w_sales_w_cost["day"] = canc_df_all_w_promo_w_sales_w_cost["day"].astype("int64")

In [17]:
canc_df_all_w_promo_w_sales_w_cost["SKU"] = canc_df_all_w_promo_w_sales_w_cost["SKU"].astype("int64")

In [22]:
canc_df_all_w_promo_w_sales_w_cost.sample(10)

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price
88273,15834,38,2018,-99.0,-99.000000,-99.000000,-99.000000,9,-99.0,-99.0,1625.0
38780,69671,23,2019,-99.0,2429.109882,2422.105098,2409.253319,6,40.0,40000.0,2075.0
120618,74010,19,2018,-99.0,-99.000000,-99.000000,-99.000000,5,-99.0,-99.0,1822.0
2080,33110,48,2019,0.2,-99.000000,-99.000000,-99.000000,-99,-99.0,-99.0,-99.0
25280,24525,18,2019,-99.0,1963.732328,1986.626462,1984.045607,4,40.0,140000.0,1734.0
12568,76245,51,2019,-99.0,360.232550,351.500609,352.785948,12,140.0,60000.0,303.0
93682,25901,26,2018,-99.0,-99.000000,-99.000000,-99.000000,6,-99.0,-99.0,682.0
125614,84677,37,2019,-99.0,-99.000000,-99.000000,-99.000000,9,-99.0,-99.0,1317.0
96986,31343,42,2019,-99.0,-99.000000,-99.000000,-99.000000,10,-99.0,-99.0,2547.0
99184,35665,48,2019,-99.0,-99.000000,-99.000000,-99.000000,12,-99.0,-99.0,1417.0

In [23]:
canc_df_all_w_promo_w_sales_w_cost.shape

(133295, 11)

In [18]:
all_features = canc_df_all_w_promo_w_sales_w_cost#.merge(sample_1000, on = ["SKU"], how = 'inner')
all_features["SKU"] = all_features["SKU"].astype("int64")

In [35]:
#del all_features["creation_date"]
#del all_features["expiration_date"]

In [25]:
all_features.sample(10)

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price
87558,15212,21,2018,-99.0,-99.000000,-99.000000,-99.000000,5,-99.0,-99.0,2530.0
130246,92982,15,2019,-99.0,-99.000000,-99.000000,-99.000000,4,-99.0,-99.0,2236.0
41503,21231,30,2019,-99.0,653.192116,658.828281,649.467025,7,90.0,60000.0,571.0
36441,29698,25,2019,-99.0,2524.157585,2549.754202,2465.836054,6,220.0,160000.0,2180.0
97512,32644,29,2018,-99.0,-99.000000,-99.000000,-99.000000,7,-99.0,-99.0,2708.0
78809,21593,-99,2019,-99.0,-99.000000,-99.000000,-99.000000,8,180.0,180000.0,-99.0
107970,52080,25,2019,-99.0,-99.000000,-99.000000,-99.000000,6,-99.0,-99.0,338.0
11090,67362,50,2019,-99.0,3817.580498,3816.102967,3789.361960,12,100.0,160000.0,3395.0
51974,80765,34,2019,-99.0,1034.285237,1028.927178,1029.418518,8,90.0,80000.0,904.0
100263,38579,49,2018,-99.0,-99.000000,-99.000000,-99.000000,12,-99.0,-99.0,1627.0

In [26]:
all_features.shape

(133295, 11)

In [27]:
len(all_features.SKU.unique())

1000

#### All transactions

In [19]:
transactions = pd.read_csv('./csv/transactions.csv')
transactions.head()

        dates    SKU   user   price
0  2018-11-09  16019  44796  1252.0
1  2018-11-09  16019  44510  1252.0
2  2018-11-09  16019  19074  1252.0
3  2018-11-09  16019  34472  1252.0
4  2018-11-10  16019  48407  1252.0

In [29]:
transactions.query("SKU == 16588").sort_values("dates")

             dates    SKU   user   price
683137  2018-01-04  16588  13356  2951.0
683138  2018-01-04  16588  43931  2951.0
683139  2018-01-04  16588  30889  2951.0
683140  2018-01-04  16588  35424  2951.0
683141  2018-01-05  16588  35413  2951.0
...            ...    ...    ...     ...
686820  2019-09-12  16588  31572  3002.0
686821  2019-09-12  16588  42392  3002.0
686822  2019-09-12  16588  32378  3002.0
686823  2019-09-12  16588  17718  3002.0
686825  2019-09-12  16588  29946  3002.0

[3689 rows x 4 columns]

In [20]:
transactions_group = get_data_features(transactions, 'dates')
transactions.dates = pd.to_datetime(transactions.dates)
transactions.sort_values(by=['dates', 'SKU'], inplace=True)
transactions_group = transactions.sort_values("dates").groupby(['year', 'month', 'week_num', 'SKU']).price.agg(np.mean).reset_index()
#transactions.SKU = pd.Categorical(transactions.SKU)
transactions_group.info()
transactions_group.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56223 entries, 0 to 56222
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      56223 non-null  int64
 1   month     56223 non-null  int64
 2   week_num  56223 non-null  int64
 3   SKU       56223 non-null  int64
 4   price     56223 non-null  float64
dtypes: float64(1), int64(4)
memory usage: 2.1 MB

   year  month  week_num    SKU   price
0  2018      1         1  16588  2951.0
1  2018      1         1  26629  1126.0
2  2018      1         1  41262  3473.0
3  2018      1         1  46795  2991.0
4  2018      1         1  47291  3746.0

In [35]:
transactions_group

       year  month  week_num    SKU   price
0      2018      1         1  16588  2951.0
1      2018      1         1  26629  1126.0
2      2018      1         1  41262  3473.0
3      2018      1         1  46795  2991.0
4      2018      1         1  47291  3746.0
...     ...    ...       ...    ...     ...
56218  2019     12         1  98842  1319.0
56219  2019     12         1  99266  1883.0
56220  2019     12         1  99310   378.0
56221  2019     12         1  99905  1634.0
56222  2019     12         1  99996   766.0

[56223 rows x 5 columns]

In [32]:
(transactions.dates.max(),transactions.dates.min())

(Timestamp('2019-11-30 00:00:00'), Timestamp('2018-01-01 00:00:00'))

In [44]:
#all_features_w_dataset = all_features.merge(transactions_group, on = ['SKU', 'year', 'month', 'week_num', "dates"], how = 'right')

In [21]:
all_features_w_train = all_features.merge(transactions_group, on = ['SKU', 'year', 'month', 'week_num'], how = 'right')

In [46]:
# all_features_w_train['previous_purchase'] = all_features_w_train.sort_values('dates').groupby('SKU').price.shift(1)
# all_features_w_train['previous_purchase'] = all_features_w_train['previous_purchase'].fillna(0)

In [34]:
all_features_w_train.head()

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price,price
0,16588,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2522.0,2951.0
1,26629,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,979.0,1126.0
2,41262,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2968.0,3473.0
3,46795,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2624.0,2991.0
4,47291,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,3315.0,3746.0

In [22]:
all_features_w_train = all_features_w_train.merge(sample_1000, on = ["SKU"], how = 'inner')

In [23]:
all_features_w_train.sample(10)

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price,price,fincode,ui1_code,ui2_code,ui3_code,vendor,brand_code,creation_date,expiration_date
109524,84024,42,2019,-99.0,4029.414144,4007.639029,4001.871396,10,50.0,160000.0,3532.0,4026.0,SI,SI1,SI100,SI10000,TJYT3A,8FYENEWM,2019-10-15,2200-01-01 00:00:00
100531,71773,33,2019,-99.0,1791.694157,1766.889104,1828.147691,8,100.0,80000.0,1525.0,1784.0,Q5,Q51,Q5100,Q510000,H2OK0Z,Z7FUX49S,2019-06-14,2200-01-01 00:00:00
102807,90376,40,2019,-99.0,1452.138810,1502.529643,1498.544158,9,130.0,160000.0,1297.0,1479.0,XG,XG1,XG100,XG10006,VWHZMG,Q6NGRHUA,2019-07-02,2200-01-01 00:00:00
46652,85231,20,2019,-99.0,4430.327145,4437.010859,4360.203160,5,210.0,160000.0,3859.0,4438.0,M2,M21,M2102,M210200,FI3ASO,H01VAI1S,2018-08-01,2200-01-01 00:00:00
56040,58998,36,2019,-99.0,897.458152,908.789467,897.406517,9,90.0,180000.0,800.0,904.0,YT,YT1,YT100,YT10000,UEYMBB,THSTSG81,2018-09-11,2200-01-01 00:00:00
3078,18893,4,2019,-99.0,-99.000000,-99.000000,-99.000000,1,-99.0,-99.0,1763.0,2063.0,6L,6L1,6L102,6L10208,VZ44WY,XF98E5PI,2018-01-17,2200-01-01 00:00:00
70169,29156,36,2019,-99.0,491.466612,503.012621,508.172814,9,190.0,200000.0,423.0,491.0,M2,M21,M2100,M210000,AO59EQ,02Q78ADY,2018-11-24,2200-01-01 00:00:00
102948,91775,38,2019,-99.0,1350.388787,1343.431937,1317.618736,9,90.0,160000.0,1201.0,1357.0,Q5,Q51,Q5100,Q510008,4O4WSH,WKXRWTP7,2019-07-07,2200-01-01 00:00:00
41691,45125,37,2019,-99.0,634.415279,643.546765,650.049482,9,180.0,120000.0,555.0,638.0,M2,M21,M2102,M210200,4HJSP5,H01VAI1S,2018-07-10,2200-01-01 00:00:00
36744,95337,48,2019,-99.0,-99.000000,-99.000000,-99.000000,11,-99.0,-99.0,2283.0,2671.0,4W,4W1,4W101,4W10100,UEYMBB,28V0149U,2018-06-14,2200-01-01 00:00:00

In [38]:
all_features_w_train.shape

(109824, 20)

In [39]:
cols_train = all_features_w_train.columns

In [40]:
len(all_features_w_train.SKU.unique())

1000

In [53]:
#threshold = (len(cols_train) - len(['SKU', 'week_num', 'year', 'month', 'day', 'price'])) // 2 + 1

In [54]:
#all_features_w_transactions = all_features_w_transactions[all_features_w_transactions[list(filter(lambda x: x not in ['SKU', 'week_num', 'year', 'month', 'day', 'price'], cols_train))].isnull().sum(axis = 1) <= threshold].reset_index(drop = True)

In [55]:
#!pip install xgboost

### Preprocess model

In [24]:
from sklearn.model_selection import RandomizedSearchCV, train_test_split, ShuffleSplit

import xgboost as xgb
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [25]:
#!pip install category_encoders

In [26]:
from category_encoders import CatBoostEncoder

In [109]:
all_features_w_train.drop(columns = ['price'])

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price,fincode,ui1_code,ui2_code,ui3_code,vendor,brand_code
0,16588,1,2019,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2610.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
1,16588,2,2019,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2661.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
2,16588,3,2019,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2652.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
3,16588,4,2019,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2568.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
4,16588,5,2019,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2540.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39810,87488,44,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1663.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
39811,87488,45,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1645.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
39812,87488,46,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1628.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
39813,87488,47,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1659.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
39814,87488,48,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1611.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1

In [27]:
all_features_w_train["SKU"] = all_features_w_train["SKU"].astype("int64")

In [28]:
all_features_w_train.drop_duplicates(["SKU", "week_num", "year", "month"], inplace = True)

In [112]:
all_features_w_train.shape

(39815, 18)

In [29]:
#del all_features_w_train["dates"]
del all_features_w_train["creation_date"]
del all_features_w_train["expiration_date"]

In [30]:
all_features_w_train

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price,price,fincode,ui1_code,ui2_code,ui3_code,vendor,brand_code
0,16588,1,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2522.0,2951.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
1,16588,2,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2539.0,2945.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
2,16588,3,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2552.0,2986.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
3,16588,4,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2564.0,2974.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
4,16588,5,2018,-99.0,-99.0,-99.0,-99.0,1,-99.0,-99.0,2616.0,2956.0,UA,UA1,UA100,UA10000,SHL570,484JDFU5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109819,87488,44,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1663.0,1879.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
109820,87488,45,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1645.0,1875.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
109821,87488,46,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1628.0,1840.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
109822,87488,47,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1659.0,1875.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1
109823,87488,48,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1611.0,1853.0,BY,BY1,BY101,BY10100,VWHZMG,KU7Q9EM1

In [114]:
all_features_w_train.ui2_code.describe()

count     39815
unique       91
top       GY100
freq       1813
Name: ui2_code, dtype: object

In [65]:
# all_features_w_train['previous purchase'] = all_features_w_train.sort_values('dates').groupby('SKU').price.shift(1)

# all_features_w_train['previous purchase'] = all_features_w_train['previous purchase'].fillna(-99)

In [115]:
all_features_w_train = all_features_w_train.query("year>2018").reset_index(drop = True)

In [31]:
cat_encoder = CatBoostEncoder(random_state=17, cols=cat_features)
y_train = all_features_w_train['price']
x_train = cat_encoder.fit_transform(all_features_w_train.drop(columns = ['price']), all_features_w_train['price'])
x_train["price"] = y_train
#del x_train["price"]
x_train = x_train.fillna(-99)
#del x_train['dates']

/Users/a17194839/Library/Python/3.7/lib/python/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [35]:
x_train[x_train.SKU==16019].tail()

,SKU,week_num,year,discount,ret_net_1_price,ret_net_2_price,ret_net_3_price,month,plan,back_bonus,cost_price,fincode,ui1_code,ui2_code,ui3_code,vendor,brand_code,price
66835,16019,45,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,1047.0,2094.897450,2094.897450,1621.188134,1625.950575,2584.992055,2205.810235,1194.0
66836,16019,46,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,985.0,2094.324724,2094.324724,1620.846110,1625.445370,2583.910413,2205.385818,1123.0
66837,16019,47,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,912.0,2093.707618,2093.707618,1620.447833,1624.858401,2582.775284,2204.931988,1067.0
66838,16019,48,2019,-99.0,-99.0,-99.0,-99.0,11,-99.0,-99.0,995.0,2093.055740,2093.055740,1620.005428,1624.207457,2581.598440,2204.455067,1144.0
66839,16019,1,2019,-99.0,-99.0,-99.0,-99.0,12,-99.0,-99.0,1052.0,2092.453548,2092.453548,1619.625232,1623.647775,2580.483158,2204.010805,1304.0

In [118]:
len(x_train.back_bonus.unique())

10

In [119]:
del x_train['price']

In [120]:
x_train.shape

(39815, 17)

### Train model

In [65]:
%%time
from sklearn.model_selection import TimeSeriesSplit, ShuffleSplit
cv = TimeSeriesSplit(n_splits=5)
#cv = ShuffleSplit(n_splits=5, test_size=0.20)

params = {
            'min_child_weight': np.random.uniform(0.1, 15, 20),
            'gamma': np.random.uniform(0.1, 5, 10),
            'subsample': np.random.uniform(0.4, 1, 10),
            'colsample_bytree': [0.6, 0.8, 1.0],
            'max_depth': np.arange(3, 15)
        }

model = xgb.XGBRegressor(n_jobs=1, n_estimators=100, seed=17, cat_features = cat_features)

random_search = RandomizedSearchCV(model,
                                   param_distributions=params,
                                   n_iter=10,
                                   scoring='neg_mean_squared_error',
                                   n_jobs=1,
                                   cv=cv,
                                   verbose=3,
                                   random_state=17)

random_search.fit(x_train, y_train)

print(f"Best Score: {random_search.best_score_}")
print(f"Best Parames: {random_search.best_params_}")

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[13:14:34] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=1.0, gamma=2.8037592464671643, max_depth=14, min_child_weight=9.870716866730609, subsample=0.4590744662634787;, score=-196.056 total time=   2.5s
[13:14:37] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=1.0, gamma=2.8037592464671643, max_depth=14, min_child_weight=9.870716866730609, subsample=0.4590744662634787;, score=-29.524 total time=   4.3s
[13:14:41] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=1.0, gamma=2.8037592464671643, max_depth=14, min_child_weight=9.870716866730609, subsample=0.4590744662634787;, score=-10.519 total time=   7.1s
[13:14:48] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=1.0, gamma=2.8037592464671643, max_depth=14, min_child_weight=9.870716866730609, subsample=0.4590744662634787;, score=-4.039 total time=   9.3s
[13:14:58] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=1.0, gamma=2.8037592464671643, max_depth=14, min_child_weight=9.870716866730609, subsample=0.4590744662634787;, score=-2.421 total time=  11.1s
[13:15:09] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.8, gamma=4.611141407877566, max_depth=9, min_child_weight=9.870716866730609, subsample=0.5206907399273146;, score=-168290.749 total time=   1.4s
[13:15:10] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.8, gamma=4.611141407877566, max_depth=9, min_child_weight=9.870716866730609, subsample=0.5206907399273146;, score=-77315.957 total time=   2.8s
[13:15:13] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.8, gamma=4.611141407877566, max_depth=9, min_child_weight=9.870716866730609, subsample=0.5206907399273146;, score=-43786.112 total time=   4.1s
[13:15:17] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.8, gamma=4.611141407877566, max_depth=9, min_child_weight=9.870716866730609, subsample=0.5206907399273146;, score=-28554.992 total time=   5.7s
[13:15:23] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.8, gamma=4.611141407877566, max_depth=9, min_child_weight=9.870716866730609, subsample=0.5206907399273146;, score=-30636.330 total time=   6.7s
[13:15:29] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.8, gamma=3.720845379294038, max_depth=10, min_child_weight=10.620554743042288, subsample=0.613558287564428;, score=-162090.300 total time=   1.5s
[13:15:31] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.8, gamma=3.720845379294038, max_depth=10, min_child_weight=10.620554743042288, subsample=0.613558287564428;, score=-99732.851 total time=   2.8s
[13:15:34] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.8, gamma=3.720845379294038, max_depth=10, min_child_weight=10.620554743042288, subsample=0.613558287564428;, score=-48187.149 total time=   4.3s
[13:15:38] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.8, gamma=3.720845379294038, max_depth=10, min_child_weight=10.620554743042288, subsample=0.613558287564428;, score=-42688.258 total time=   5.7s
[13:15:44] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.8, gamma=3.720845379294038, max_depth=10, min_child_weight=10.620554743042288, subsample=0.613558287564428;, score=-41062.917 total time=   7.0s
[13:15:51] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

[CV 1/5] END colsample_bytree=0.8, gamma=3.25328594836203, max_depth=11, min_child_weight=5.273815110925435, subsample=0.7411835011640413;, score=-204848.116 total time=   1.7s
[13:15:52] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.8, gamma=3.25328594836203, max_depth=11, min_child_weight=5.273815110925435, subsample=0.7411835011640413;, score=-115529.849 total time=   3.5s
[13:15:56] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.8, gamma=3.25328594836203, max_depth=11, min_child_weight=5.273815110925435, subsample=0.7411835011640413;, score=-48239.533 total time=   5.9s
[13:16:02] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.8, gamma=3.25328594836203, max_depth=11, min_child_weight=5.273815110925435, subsample=0.7411835011640413;, score=-58342.046 total time=   7.4s
[13:16:09] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.8, gamma=3.25328594836203, max_depth=11, min_child_weight=5.273815110925435, subsample=0.7411835011640413;, score=-52116.626 total time=   9.4s
[13:16:19] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.8, gamma=4.083319887780721, max_depth=9, min_child_weight=5.710464149679132, subsample=0.9768998233180582;, score=-203390.292 total time=   1.7s
[13:16:20] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.8, gamma=4.083319887780721, max_depth=9, min_child_weight=5.710464149679132, subsample=0.9768998233180582;, score=-81769.671 total time=   3.3s
[13:16:24] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.8, gamma=4.083319887780721, max_depth=9, min_child_weight=5.710464149679132, subsample=0.9768998233180582;, score=-35490.535 total time=   4.8s
[13:16:28] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.8, gamma=4.083319887780721, max_depth=9, min_child_weight=5.710464149679132, subsample=0.9768998233180582;, score=-41859.882 total time=   6.5s
[13:16:35] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.8, gamma=4.083319887780721, max_depth=9, min_child_weight=5.710464149679132, subsample=0.9768998233180582;, score=-25588.064 total time=   8.0s
[13:16:43] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.8, gamma=3.927799117628761, max_depth=7, min_child_weight=11.331186608926846, subsample=0.5206907399273146;, score=-143839.537 total time=   1.0s
[13:16:44] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.8, gamma=3.927799117628761, max_depth=7, min_child_weight=11.331186608926846, subsample=0.5206907399273146;, score=-35393.947 total time=   2.1s
[13:16:46] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.8, gamma=3.927799117628761, max_depth=7, min_child_weight=11.331186608926846, subsample=0.5206907399273146;, score=-16825.072 total time=   3.4s
[13:16:49] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.8, gamma=3.927799117628761, max_depth=7, min_child_weight=11.331186608926846, subsample=0.5206907399273146;, score=-11437.452 total time=   4.5s
[13:16:54] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.8, gamma=3.927799117628761, max_depth=7, min_child_weight=11.331186608926846, subsample=0.5206907399273146;, score=-12273.167 total time=   5.1s
[13:16:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.6, gamma=3.25328594836203, max_depth=11, min_child_weight=4.418045336854284, subsample=0.7476791845652766;, score=-248400.561 total time=   1.5s
[13:17:00] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

[CV 2/5] END colsample_bytree=0.6, gamma=3.25328594836203, max_depth=11, min_child_weight=4.418045336854284, subsample=0.7476791845652766;, score=-245085.611 total time=   3.1s
[13:17:04] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.6, gamma=3.25328594836203, max_depth=11, min_child_weight=4.418045336854284, subsample=0.7476791845652766;, score=-125804.927 total time=   5.0s
[13:17:09] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.6, gamma=3.25328594836203, max_depth=11, min_child_weight=4.418045336854284, subsample=0.7476791845652766;, score=-53601.406 total time=   6.6s
[13:17:15] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.6, gamma=3.25328594836203, max_depth=11, min_child_weight=4.418045336854284, subsample=0.7476791845652766;, score=-49220.107 total time=   7.4s
[13:17:23] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=13, min_child_weight=4.8898619259135705, subsample=0.7475532336957453;, score=-86.553 total time=   2.5s
[13:17:25] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=13, min_child_weight=4.8898619259135705, subsample=0.7475532336957453;, score=-10.338 total time=   5.0s
[13:17:30] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=13, min_child_weight=4.8898619259135705, subsample=0.7475532336957453;, score=-4.003 total time=   8.3s
[13:17:38] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=13, min_child_weight=4.8898619259135705, subsample=0.7475532336957453;, score=-1.180 total time=   8.9s
[13:17:47] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=13, min_child_weight=4.8898619259135705, subsample=0.7475532336957453;, score=-0.815 total time=  11.2s
[13:17:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=0.6, gamma=0.12270275819113088, max_depth=3, min_child_weight=9.321583260317649, subsample=0.5714445788353684;, score=-26180.051 total time=   0.4s
[13:17:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=0.6, gamma=0.12270275819113088, max_depth=3, min_child_weight=9.321583260317649, subsample=0.5714445788353684;, score=-21595.923 total time=   0.7s
[13:18:00] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 3/5] END colsample_bytree=0.6, gamma=0.12270275819113088, max_depth=3, min_child_weight=9.321583260317649, subsample=0.5714445788353684;, score=-3419.621 total time=   1.0s
[13:18:01] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=0.6, gamma=0.12270275819113088, max_depth=3, min_child_weight=9.321583260317649, subsample=0.5714445788353684;, score=-2313.356 total time=   1.3s
[13:18:02] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=0.6, gamma=0.12270275819113088, max_depth=3, min_child_weight=9.321583260317649, subsample=0.5714445788353684;, score=-2138.634 total time=   1.6s
[13:18:04] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 1/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=7, min_child_weight=5.710464149679132, subsample=0.5714445788353684;, score=-147.199 total time=   1.2s
[13:18:05] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 2/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=7, min_child_weight=5.710464149679132, subsample=0.5714445788353684;, score=-33.575 total time=   2.3s
[13:18:07] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

[CV 3/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=7, min_child_weight=5.710464149679132, subsample=0.5714445788353684;, score=-14.990 total time=   3.4s
[13:18:11] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 4/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=7, min_child_weight=5.710464149679132, subsample=0.5714445788353684;, score=-10.213 total time=   4.4s
[13:18:15] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[CV 5/5] END colsample_bytree=1.0, gamma=0.7943811066949509, max_depth=7, min_child_weight=5.710464149679132, subsample=0.5714445788353684;, score=-7.671 total time=   5.5s
[13:18:20] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:573:
Parameters: { "cat_features" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


Best Score: -20.57779429771023
Best Parames: {'subsample': 0.7475532336957453, 'min_child_weight': 4.8898619259135705, 'max_depth': 13, 'gamma': 0.7943811066949509, 'colsample_bytree': 1.0}
CPU times: user 3min 58s, sys: 754 ms, total: 3min 59s
Wall time: 3min 59s

In [121]:
model =  xgb.XGBRegressor(n_jobs=1, n_estimators=100, seed=17, **random_search.best_params_)
model.fit(x_train, y_train)
# import dill 
# with open("model_final_pr.dill", "wb") as f: 
#         dill.dump(model, f)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1.0, gamma=0.7943811066949509,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=13,
             min_child_weight=4.8898619259135705, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=1,
             num_parallel_tree=1, random_state=17, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, seed=17, subsample=0.7475532336957453,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [67]:
model2 = model

In [104]:
x_train.shape

(39815, 18)

In [123]:
x_train.columns

Index(['SKU', 'week_num', 'year', 'discount', 'ret_net_1_price',
       'ret_net_2_price', 'ret_net_3_price', 'month', 'plan', 'back_bonus',
       'cost_price', 'fincode', 'ui1_code', 'ui2_code', 'ui3_code', 'vendor',
       'brand_code'],
      dtype='object')

In [124]:
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.ar_model import AutoReg

In [125]:
import statsmodels
statsmodels.__version__

'0.12.2'

In [126]:
from warnings import simplefilter
simplefilter("ignore")

### Train all trend models

In [127]:
x_transactions = transactions[["dates", "SKU", "price"]]
x_transactions.dtypes

dates    datetime64[ns]
SKU               int64
price           float64
dtype: object

In [128]:
x_transactions["dates"] = x_transactions["dates"].astype(str)

In [129]:
%%time
train_sku = {}
for i_sku in sample_1000.SKU.unique(): 
    data = x_transactions.query("SKU == @i_sku")[["dates", "price"]].sort_values(by = "dates")
    data.dropna(subset = ["price"], inplace = True)
    if data.shape[0] < 100: 
        AR = AutoReg(data.price, lags=2)
    else:
        AR = AutoReg(data.price, lags=20)
    AR_model = AR.fit()
    train_sku[i_sku] = (data, AR_model)

CPU times: user 1min 6s, sys: 12.1 s, total: 1min 18s
Wall time: 12.8 s

In [81]:
%%time
x_train.loc[:10000]["SKU"].apply(lambda x: train_sku[x][1].predict(start = len(train_sku[x][0]),end= len(train_sku[x][0])+1, dynamic=False).values[0])

CPU times: user 5.68 s, sys: 15.8 ms, total: 5.7 s
Wall time: 5.7 s

0        3001.680330
1        3001.680330
2        3001.680330
3        3001.680330
4        3001.680330
            ...
9996     1375.887453
9997     1375.887453
9998     1375.887453
9999     1375.887453
10000    1375.887453
Name: SKU, Length: 10001, dtype: float64

In [130]:
import requests

import pandas as pd
import numpy as np


# Чтобы сгенерировать UUID
import uuid
UUID = uuid.uuid4().hex

In [131]:
UUID

'c7929332edae432e98b2d2d10516071f'

In [132]:
URL_BEGIN_DATA = 'https://lab.karpov.courses/hardml-api/project-1/task/{uuid}/begin'
req = requests.post(URL_BEGIN_DATA.format(uuid=UUID))

# Для получения информации о том, как отработал запрос, можно посмотреть ответ
print(req.json())

{'status': 'ok'}

In [133]:
def for_inference(df, model): 
    df_copy = df.copy()
    df_copy = get_data_features(df_copy, 'dates')
    df_f_predictions_2 = df_copy.merge(all_features, on = ['SKU', 'year', 'month', 'week_num'], how = 'left')
    print(df_f_predictions_2.shape)
    df_f_predictions_2.drop_duplicates(subset = ['SKU', "user_id"], inplace = True)
    print(df_f_predictions_2.shape)

    df_f_predictions_2 = df_f_predictions_2.merge(sample_1000, on = ["SKU"], how = 'left')
    del df_f_predictions_2["creation_date"]
    del df_f_predictions_2["expiration_date"]
#     if df_last is not None: 
#         df_f_predictions_2 = df_f_predictions_2.merge(df_last, on = ['SKU', 'year', 'month', 'week_num', 'day', "user_id"], how = 'left')
#     else: 
#         df_f_predictions_2['previous purchase'] = -99
    #print(df_f_predictions_2)
    df_f_predictions_1 = df_f_predictions_2.copy()
    df_f_predictions_2 = cat_encoder.transform(df_f_predictions_2.drop(columns = ['dates',"user_id"]))
    df_f_predictions_2 = df_f_predictions_2.fillna(-99)
    df_f_predictions_2 = df_f_predictions_2.loc[df.index]
    df_f_predictions_2["user_id"] = df_f_predictions_1["user_id"]
    df_f_predictions_2["dates"] = df_f_predictions_1["dates"].astype('str')
    df_f_predictions_2.drop_duplicates(inplace = True)
    print(df_f_predictions_2.shape)
    #print(df_f_predictions_2.head())
    df_f_predictions_2["price"] = model.predict(df_f_predictions_2.drop(columns = ["dates", "user_id"])) * 1#.astype("float")
    return df_f_predictions_2

In [134]:
x_transactions = transactions[["dates", "SKU", "price"]]
x_transactions["dates"] = x_transactions["dates"].astype(str)

In [135]:
import time
actions_num = [1, 2, 3] #1:+0.15; 2:-0.15; 3:0
actions = [0.85, 1, 1.15]
last_month = 1
df_last = None
while True: 
    URL_TASK_DATA_GET = 'https://lab.karpov.courses/hardml-api/project-1/task/{uuid}/data'
    response = requests.get(URL_TASK_DATA_GET.format(uuid=UUID))
    
    # Чтобы перевести полученный ответ в pd.DataFrame
     
    df = pd.read_json(response.json())
    
    print("for_get1", df.shape)
    df_predict_raw = for_inference(df, model)
    month = int(df_predict_raw.month.max())
    year = int(df_predict_raw.year.min())
    print(df_predict_raw.dates.max(), df_predict_raw.dates.min())
    
    df_predict_raw["price_"] = df_predict_raw["SKU"].apply(lambda x: train_sku[x][1].predict(start = len(train_sku[x][0]),end= len(train_sku[x][0])+1, dynamic=False).values[0])
    
    #increase if auto_reg greate xgb_predict
    df_predict_raw["price"] = df_predict_raw["price"]\
                              .where(df_predict_raw["price"] > df_predict_raw["price_"], df_predict_raw["price"]*1.05)
                             

    
  
            
    df_predict = df_predict_raw[["dates","SKU","user_id","price"]]
    print("for_get2", df.shape)
    print("for_get2", df_predict.shape)
    #print("for_get_info", df_predict.info)
    
    
    
    URL_TASK_RESULT_POST = 'https://lab.karpov.courses/hardml-api/project-1/task/{uuid}/result/'
   
    req = requests.post(URL_TASK_RESULT_POST.format(uuid=UUID),
                             data=df_predict.to_json(orient='records'))
    
    
    #time.sleep(10)
    URL_TASK_RESULT_GET = 'https://lab.karpov.courses/hardml-api/project-1/task/{uuid}/result'
    response = requests.get(URL_TASK_RESULT_GET.format(uuid=UUID))
    
    if  response.json() == {'status': 'batch processing finished '}:
        break
    try: 
        df_2 = pd.read_json(response.json())
    except Exception as e: 
        print("error post", response.json())
    
    df_last = df_2.copy()
   
    df_last = df_last.query("bought==1").reset_index(drop = True)
    
    print("after_after", df_2.shape)
   
    df_last["SKU"] = df_last["SKU"].astype("int64")
    df_last = df_last[["SKU", "dates", "price"]]
    
    #retrain model
    x_transactions = pd.concat([x_transactions, df_last], axis = 0)
    train_sku = {}
    for i_sku in sample_1000.SKU.unique(): 
        data = x_transactions.query("SKU == @i_sku")[["dates", "price"]].sort_values(by = "dates")
        data.dropna(subset = ["price"], inplace = True)
        if data.shape[0] < 100: 
            AR = AutoReg(data.price, lags=2)
        else:
            AR = AutoReg(data.price, lags=20)
        AR_model = AR.fit()
        train_sku[i_sku] = (data, AR_model)      
 
    
    URL_TASK_RESULT_GET = 'https://lab.karpov.courses/hardml-api/project-1/task/{uuid}/lms_result'
    response = requests.get(URL_TASK_RESULT_GET.format(uuid=UUID))
    print(response.json())

for_get1 (9736, 3)
(9736, 13)
(9736, 13)
(9736, 19)
2019-12-01 2019-12-01
for_get2 (9736, 3)
for_get2 (9736, 4)
after_after (9736, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 1419144}
for_get1 (9738, 3)
(26760, 13)
(9738, 13)
(9738, 19)
2019-12-02 2019-12-02
for_get2 (9738, 3)
for_get2 (9738, 4)
after_after (19474, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 2916038}
for_get1 (9737, 3)
(26759, 13)
(9737, 13)
(9737, 19)
2019-12-03 2019-12-03
for_get2 (9737, 3)
for_get2 (9737, 4)
after_after (29211, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 4421539}
for_get1 (9738, 3)
(26754, 13)
(9738, 13)
(9738, 19)
2019-12-04 2019-12-04
for_get2 (9738, 3)
for_get2 (9738, 4)
after_after (38949, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 5932998}
for_get1 (9739, 3)
(26767, 13)
(9739, 13)
(9739, 19)
2019-12-05 2019-12-05
for_get2 (9739, 3)
for_get2 (9739, 4)
after_after (48688, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 7490718}
for_get1 (9739, 3)
(26767, 13)
(9739, 13)
(9739, 19)
2019-12-06 2019-12-06
for_get2 (9739, 3)
for_get2 (9739, 4)
after_after (58427, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 9192725}
for_get1 (9738, 3)
(26760, 13)
(9738, 13)
(9738, 19)
2019-12-07 2019-12-07
for_get2 (9738, 3)
for_get2 (9738, 4)
after_after (68165, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 10805806}
for_get1 (9713, 3)
(26645, 13)
(9713, 13)
(9713, 19)
2019-12-08 2019-12-08
for_get2 (9713, 3)
for_get2 (9713, 4)
after_after (77878, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 12341107}
for_get1 (9696, 3)
(26646, 13)
(9696, 13)
(9696, 19)
2019-12-09 2019-12-09
for_get2 (9696, 3)
for_get2 (9696, 4)
after_after (87574, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 13885611}
for_get1 (9697, 3)
(26647, 13)
(9697, 13)
(9697, 19)
2019-12-10 2019-12-10
for_get2 (9697, 3)
for_get2 (9697, 4)
after_after (97271, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 15416259}
for_get1 (9695, 3)
(26645, 13)
(9695, 13)
(9695, 19)
2019-12-11 2019-12-11
for_get2 (9695, 3)
for_get2 (9695, 4)
after_after (106966, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 16965887}
for_get1 (9688, 3)
(26644, 13)
(9688, 13)
(9688, 19)
2019-12-12 2019-12-12
for_get2 (9688, 3)
for_get2 (9688, 4)
after_after (116654, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 18658473}
for_get1 (9669, 3)
(26625, 13)
(9669, 13)
(9669, 19)
2019-12-13 2019-12-13
for_get2 (9669, 3)
for_get2 (9669, 4)
after_after (126323, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 20395859}
for_get1 (9674, 3)
(26630, 13)
(9674, 13)
(9674, 19)
2019-12-14 2019-12-14
for_get2 (9674, 3)
for_get2 (9674, 4)
after_after (135997, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 21968195}
for_get1 (9666, 3)
(26592, 13)
(9666, 13)
(9666, 19)
2019-12-15 2019-12-15
for_get2 (9666, 3)
for_get2 (9666, 4)
after_after (145663, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 23691746}
for_get1 (9658, 3)
(26608, 13)
(9658, 13)
(9658, 19)
2019-12-16 2019-12-16
for_get2 (9658, 3)
for_get2 (9658, 4)
after_after (155321, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 25478611}
for_get1 (9657, 3)
(26613, 13)
(9657, 13)
(9657, 19)
2019-12-17 2019-12-17
for_get2 (9657, 3)
for_get2 (9657, 4)
after_after (164978, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 27473358}
for_get1 (9659, 3)
(26615, 13)
(9659, 13)
(9659, 19)
2019-12-18 2019-12-18
for_get2 (9659, 3)
for_get2 (9659, 4)
after_after (174637, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 29240335}
for_get1 (9659, 3)
(26615, 13)
(9659, 13)
(9659, 19)
2019-12-19 2019-12-19
for_get2 (9659, 3)
for_get2 (9659, 4)
after_after (184296, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 30792064}
for_get1 (9637, 3)
(26593, 13)
(9637, 13)
(9637, 19)
2019-12-20 2019-12-20
for_get2 (9637, 3)
for_get2 (9637, 4)
after_after (193933, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 32847673}
for_get1 (9637, 3)
(26593, 13)
(9637, 13)
(9637, 19)
2019-12-21 2019-12-21
for_get2 (9637, 3)
for_get2 (9637, 4)
after_after (203570, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 35475369}
for_get1 (9616, 3)
(26494, 13)
(9616, 13)
(9616, 19)
2019-12-22 2019-12-22
for_get2 (9616, 3)
for_get2 (9616, 4)
after_after (213186, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 39412165}
for_get1 (9615, 3)
(26499, 13)
(9615, 13)
(9615, 19)
2019-12-23 2019-12-23
for_get2 (9615, 3)
for_get2 (9615, 4)
after_after (222801, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 45279372}
for_get1 (9614, 3)
(26486, 13)
(9614, 13)
(9614, 19)
2019-12-24 2019-12-24
for_get2 (9614, 3)
for_get2 (9614, 4)
after_after (232415, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 53678606}
for_get1 (9615, 3)
(26493, 13)
(9615, 13)
(9615, 19)
2019-12-25 2019-12-25
for_get2 (9615, 3)
for_get2 (9615, 4)
after_after (242030, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 65822099}
for_get1 (9612, 3)
(26484, 13)
(9612, 13)
(9612, 19)
2019-12-26 2019-12-26
for_get2 (9612, 3)
for_get2 (9612, 4)
after_after (251642, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 79096083}
for_get1 (9601, 3)
(26419, 13)
(9601, 13)
(9601, 19)
2019-12-27 2019-12-27
for_get2 (9601, 3)
for_get2 (9601, 4)
after_after (261243, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 91085166}
for_get1 (9603, 3)
(26415, 13)
(9603, 13)
(9603, 19)
2019-12-28 2019-12-28
for_get2 (9603, 3)
for_get2 (9603, 4)
after_after (270846, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 100735242}
for_get1 (9591, 3)
(26421, 13)
(9591, 13)
(9591, 19)
2019-12-29 2019-12-29
for_get2 (9591, 3)
for_get2 (9591, 4)
after_after (280437, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 108069612}
for_get1 (9583, 3)
(9583, 13)
(9583, 13)
(9583, 19)
2019-12-30 2019-12-30
for_get2 (9583, 3)
for_get2 (9583, 4)
after_after (290020, 5)
{'uuid': 'c7929332edae432e98b2d2d10516071f', 'result': 110113900}

ValueError: Invalid file path or buffer object type: <class 'dict'>